.hidden{
    display: none;
}
*{
    background-color: rgb(175, 175, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1{
    font-size: 45px;
}
.container{
    text-align: center;
    color: black;
    width: 500px;
    margin: auto;
     
}
.start-btn{
    color:white;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 19px;
    padding-left: 19px;
    border-radius: 8px;
    background-color: rgb(35, 151, 169);
    font-size: 30px;
    
}
button{
    background-color: rgb(35, 151, 169);
    color: white;
    width: 100%;
    font-size: 46px;
  
}

button:hover{
    background-color: powderblue;
    color: black;
    cursor: crosshair;
}
input{
    color: black;
}
::placeholder { 
    color:black;
}
.initBtn{
width: 400px;
}
input{
    color:black;
    font-size: 25px;
    margin-bottom:4px ;
    margin-top:9px;
}
.rules
{
    color:white;
   margin-bottom:10px ;
    border-radius: 8px;
    background-color: rgb(35, 151, 169);
    font-size: 30px;
}

